<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PokePad API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1><strong>Pokemons:</strong></h1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let pokemon of pokemons">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Height:</strong> {{ pokemon.height }}</p>
            <p><strong>Weight:</strong> {{ pokemon.weight }}</p>
            <p><strong>Base Experience:</strong> {{ pokemon.base_experience }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
