<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PokePad API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1><strong>Pokemons:</strong></h1>
      </ion-col>
    </ion-row>
    <ion-card *ngFor="let pokemon of pokemons">
      <ion-card-header>
        <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="pokemon.image" [alt]="pokemon.name" />
        <p><strong>Height:</strong> {{ pokemon.height }} dm</p>
        <p><strong>Weight:</strong> {{ pokemon.weight }} hg</p>
        <p><strong>Types:</strong> {{ pokemon.types.join(', ') }}</p>
        <p><strong>Abilities:</strong> {{ pokemon.abilities.join(', ') }}</p>
        <p><strong>Base Experience:</strong> {{ pokemon.base_experience }}</p>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
